{% extends "base.html" %}
{% block body %}

<div class="col-md-6">
  <div class="box box-info">
    <div class="box-header">
      <h3 class="box-title">Clients</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody><tr>
          <th>Name</th>
        <th>Flash client </th>
        </tr>
        {% for client in clients %}
        <tr>
          <td><a href="/app.py/project/{{id}}/client/{{client.id}}" id="client-{{client.id}}">{{client.id}}</a></td>
            <td><a href="/app.py/project/{{id}}/client/{{client.id}}/flash">Flash firmware</a></td>

        </tr>
        {% endfor %}
      </tbody></table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <button data-toggle="modal" data-target="#clientModal" class="btn btn-sm btn-info btn-flat pull-left">Add client</button>

      <div class="pull-right">{{ clients|length }} clients</div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="box box-info">
    <div class="box-header">
      <h3 class="box-title">Users</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody><tr>
          <th>Name</th>
          <th></th>
        </tr>
        {% for member in members %}
        <tr>
          <td>{{member.name}}</td>

          <td><a href="/app.py/project/{{id}}/delete/user/{{member.id}}">remove</a></td>
        </tr>
        {% endfor %}
      </tbody></table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <button data-toggle="modal" data-target="#userModal" class="btn btn-sm btn-info btn-flat pull-left">Add user</button>

      <div class="pull-right">{{ members|length }} users</div>
    </div>
  </div>
</div>

<!-- modal for users -->

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style='display:initial;'>Add user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <form role="form" action="/app.py/project/{{id}}/add/user" method="post">
                <div class="form-group">
                    <label for="sensorName">Adresse mail</label>
                    <!-- TODO éventuellement changer  l'id en 'email'-->
                    <input type="text" class="form-control" id="userID" name="mail" placeholder="Enter email">
                </div>
                  <input type="submit" class="btn btn-primary" value="add"></input>
            <!-- /.box-body -->

          </form>
      </div>
    </div>
  </div>
</div>

<!-- modal for users -->

<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style='display:initial;'>Add client</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <form role="form" action="/app.py/project/{{id}}/add/client" method="post">
                <div class="form-group">
                    <label for="sensorName">Client ip</label>
                    <input type="text" class="form-control" id="clientIP" name="clientIP" placeholder="Enter client IP">
                </div>
                <div class="form-group">
                    <label for="sensorName">Client mac adress</label>
                    <input type="text" class="form-control" id="clientMac" name="clientMac" placeholder="Enter client MAC adress">
                </div>
                <div class="form-group">
                    <label for="sensorName">Client firmware id</label>
                    <input type="numbeer" class="form-control" id="clientFirmware" name="clientFirmware" placeholder="Enter client id firmware">
                </div>
                  <input type="submit" class="btn btn-primary" value="add"></input>
            <!-- /.box-body -->

          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
