{% extends "base.html" %}
{% block body %}

<div class="col-xs-12">
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">Your projects</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>Name of the project</th>
                  <th>Status</th>
                  <th></th>
                </tr>
                {% for project in project_list %}
                <tr>
                  <td><a href="/app.py/project/{{project.id}}" id="project-{{project.name}}">{{project.name}}</a></td>
                  <td>
                    {%- if project.status=="approved" -%}
                      <span class="label label-success">Approved</span>
                    {% endif %}
                    {%- if project.status=="pending" -%}
                      <span class="label label-warning">Pending</span>
                    {% endif %}
                    {%- if project.status=="refused" -%}
                      <span class="label label-danger">Refused</span>
                    {% endif %}
                  </td>
                  <td style="width:40px;"><button type="button" class="btn btn-box-tool" onClick="deleteProject({{project.id}})"><i class="fa fa-trash-o"></i>
                  </button></td>
                </tr>
                {% endfor %}
              </tbody></table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <button data-toggle="modal" data-target="#projectModal" class="btn btn-sm btn-info btn-flat pull-left">Add project</button>
              <div class="pull-right">{{ project_list|length }} projects</div>
            </div>
          </div>
          <!-- /.box -->
</div>



<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style='display:initial;'>Add project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <form role="form" action="/app.py/add/project" method="post">
                <div class="form-group">
                    <label for="name">name</label>
                    <!-- TODO éventuellement changer  l'id en 'email'-->
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                </div>
                  <input type="submit" class="btn btn-primary" value="add"></input>
            <!-- /.box-body -->

          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{%block js%}
<script>
function deleteProject(id)
{
    $.post("/app.py/remove/project/"+id,() => window.location.reload());
}
</script>
{%endblock%}