{% extends "base.html" %}
{% block body %}

<div class="col-md-6">
    <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Sensors</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Sensor name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>


                  {% for sensor in sensors %}
                  <tr>
                    <td>{{sensor.name}}</td>

                    <td><a href="/app.py/project/{{id}}/download/sensor/{{sensor.id}}">download</a></td>
                    <td><a href="/app.py/project/{{id}}/edit/sensor/{{sensor.id}}">edit</a></td>
                    <td><a href="/app.py/project/{{id}}/delete/sensor/{{sensor.id}}">delete</a></td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <a href="/app.py/project/{{ id }}/add/sensor" class="btn btn-sm btn-info btn-flat pull-left">Add sensor</a>
              <div class="pull-right">{{ sensors|length }}/15 sensors   <a href="javascript:void(0)" class="btn btn-sm btn-flat btn-info">Ask for more sensors</a></div>
            </div>
            <!-- /.box-footer -->
            </div>
</div>



<div class="col-md-6">
    <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Users</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>user name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>

                      {% for member in members %}
                      <tr>
                        <td>{{member.name}}</td>

                        <td><a href="/app.py/project/{{id}}/delete/user/{{member.id}}">remove</a></td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <a href="/app.py/project/{{id}}/add/user" class="btn btn-sm btn-info btn-flat pull-left">Add user</a>
              <div class="pull-right">{{ members|length }} users</div>
            </div>
            <!-- /.box-footer -->
            </div>
</div>
{% endblock %}
